@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9fafc;
}

button#verMaisBtn {
    background-color: #207FEE;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 30%);
    z-index: 1000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
    transition: all .1s ease-in;
    cursor: pointer;
}

button#verMaisBtn:hover {
    background-color: #1557a2;
}

button#topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #207FEE;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    width: 50px;
    transition: all .1s ease-in;
    height: 50px;
    cursor: pointer;
}

button#topo:hover {
    background-color: #1557a2;
    font-size: 18px;
}

html,
body {
    scroll-behavior: smooth;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity .5s ease;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.805);
}

.modal-content {
    background-color: #fefefe;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #888;
    width: 60%;
    display: flex;
    height: 600px;
    margin-top: 2rem;
}

#modalContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.textos-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 80%;
    border-radius: 10px;
}

.textos-modal .botao-modal-contato {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    height: 2rem;
    border-radius: 10px;
    background-color: #2080ee;
    margin-top: 20px;
    box-shadow: 10px 10px 10px #00000010;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: all .9s ease-in-out;
}

.textos-modal .botao-modal-contato:hover {
    width: 80%;
    scale: 1.05;
    box-shadow: 10px 10px 5px #00000010;
    font-weight: 600;
}

.textos-modal h1 {
    color: #000;
    border-bottom: 1PX solid #207FEE;
    font-size: 1.6rem;
    width: fit-content;
    font-weight: 800;
    text-align: center;
}

.textos-modal div p {
    text-align: center;
}

.textos-modal div {
    width: 80%;
    display: flex;
}

.textos-modal .endereco-modal p {
    font-size: .9rem;
    font-weight: 600;
    color: #000000a8;
}

.textos-modal .preco-modal p {
    width: 100%;
    color: #207FEE;
    font-size: 1.5rem;
    font-weight: 700;
}

.textos-modal .geral-modal {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    font-size: .9rem;
    font-weight: 600;
}

.textos-modal .geral-modal i {
    justify-content: center;
    color: #207FEE;
}

.close {
    color: #d71d1d;
    font-size: 28px;
    position: fixed;
    font-weight: bold;
    right: 23%;
    transition: all 0.7s ease;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
    overflow: hidden;
    gap: 10px;
}

.carousel-controls {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 10px;
}

.prev,
.next {
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    background-color: #2080eee3;
    border: none;
    border-radius: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0 5px;
}

.prev:active,
.next:active {
    background-color: #0073ffe3;
}


@media screen and (max-width: 1300px) {
    .modal-content {
        padding: 20px;
        width: 70%;
        display: flex;
        height: 500px;
    }

    #modalContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .textos-modal h1 {
        font-size: 1.5rem;
    }

    .textos-modal .endereco-modal p {
        font-size: .85rem;
    }

    .textos-modal .preco-modal p {
        font-size: 1.5rem;
    }

    .textos-modal .geral-modal {
        flex-direction: row;
        gap: .9rem;
        justify-content: center;
        font-size: .8rem;
    }

    .carousel {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        overflow: hidden;
        gap: 10px;
    }

    .carousel-controls {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 10px;
    }
}

@media screen and (max-width: 1190px) {
    .modal-content {
        padding: 20px;
        width: 55%;
        display: flex;
        height: 500px;
    }

    #modalContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .textos-modal {
        width: 100%;
        height: 50%;
        gap: 1rem;
    }

    .textos-modal h1 {
        font-size: 1.6rem;
        width: 100%;
    }

    .endereco-modal {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textos-modal .endereco-modal p {
        font-size: 1rem;
        flex-direction: row;
        display: flex;
        text-align: center;
    }

    .textos-modal .preco-modal p {
        font-size: 1.5rem;
    }

    .textos-modal .geral-modal {
        flex-direction: row;
        gap: .9rem;
        justify-content: center;
        font-size: 1rem;
    }

    .carousel {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        gap: 10px;
    }

    .carousel-controls {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 10px;
    }

    .close {
        color: #d71d1d;
        font-size: 28px;
        position: fixed;
        font-weight: bold;
        right: 25%;
        border-bottom-left-radius: 5px;
        z-index: 1111111111;
        transition: all 0.7s ease;
    }
}

@media screen and (max-width: 870px) {
    .modal-content {
        padding: 20px;
        width: 75%;
        display: flex;
        height: 80%;
    }

    .textos-modal {
        width: 100%;
        height: 50%;
        gap: 1rem;
    }

    .textos-modal h1 {
        font-size: 1.3rem;
        width: 100%;
    }

    .textos-modal .endereco-modal p {
        font-size: .9rem;
    }

    .textos-modal .preco-modal p {
        font-size: 1.3rem;
    }

    .textos-modal .geral-modal {
        flex-direction: row;
        gap: .9rem;
        justify-content: center;
        font-size: .9rem;
    }

    .carousel {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        gap: 10px;
    }

    .carousel-controls {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        bottom: 10px;
    }

    .close {
        color: #d71d1d;
        font-size: 28px;
        position: fixed;
        font-weight: bold;
        right: 19%;
        border-bottom-left-radius: 5px;
        z-index: 1111111111;
        transition: all 0.7s ease;
    }
}

@media screen and (max-width: 530px) {
    .modal-content {
        padding: 15px;
        width: 80%;
        height: 65%;
    }

    .textos-modal {
        width: 100%;
        height: 50%;
        gap: .8rem;
    }

    .textos-modal h1 {
        font-size: 1.1rem;
    }

    .textos-modal .endereco-modal p {
        font-size: .8rem;
    }

    .textos-modal .preco-modal p {
        font-size: 1.2rem;
    }

    .textos-modal .geral-modal {
        flex-direction: row;
        gap: .9rem;
        justify-content: center;
        font-size: .9rem;
        display: flex;
        text-align: center;
    }

    .carousel {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        gap: 10px;
    }

    .textos-modal .botao-modal-contato {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        height: 2rem;
        border-radius: 10px;
        background-color: #2080ee;
        margin-top: 10px;
        box-shadow: 10px 10px 10px #00000010;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: 500;
        transition: all .9s ease-in-out;
        font-size: .8rem;
    }
}

@media screen and (max-width: 475px) {
    .modal-content {
        padding: 10px;
        width: 90%;
        height: 60%;
    }

    .textos-modal {
        gap: .7rem;
    }

    .textos-modal h1 {
        font-size: 1rem;
    }

    .textos-modal .endereco-modal p {
        font-size: .7rem;
    }

    .textos-modal .preco-modal p {
        font-size: 1rem;
    }

    .textos-modal .geral-modal {
        gap: .5rem;
        font-size: .7rem;
    }

    .textos-modal .botao-modal-contato {
        font-size: .7rem;
    }

    .close {
        color: #d71d1d;
        font-size: 28px;
        position: fixed;
        font-weight: bold;
        right: 10%;
        z-index: 1111111111;
        transition: all 0.7s ease;
    }
}