header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28rem;
    background-image: url(../img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .top-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 8rem 10px 8rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #0000001d;
    border-radius: 0px 0px 10px 10px;
}

header .top-header .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
    cursor: pointer;
}

header .top-header nav .contact {
    background-color: white;
    color: black;
    padding: 8px 8px 8px 8px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    transition: all .3s linear;
    height: 35px;
    cursor: pointer;
    text-decoration: none;
}

header .top-header nav .contact:hover {
    font-size: 13.5px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.227);
}

header .main-header {
    display: flex;
    width: 100%;
    padding: 0px 8rem 0px 8rem;
    margin-top: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

header .main-header .texts {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

header .main-header .texts h1 {
    font-size: 1.8rem;
}

header .main-header .texts h1 span {
    font-size: 1.8rem;
    color: #207FEE;
}

header .main-header .texts span {
    font-size: 1rem;
}

header .main-header .container-filters {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 14rem;
    border-radius: 20px;
    flex-direction: column;
    gap: 17px;
}

header .main-header .container-filters .tipo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

header .main-header .container-filters .tipo select {
    border-radius: 10px;
    border: none;
    background-color: #EDEDED;
    height: 45px;
    font-size: 15px;
    padding-left: 5px;
}

#select-tipo-imovel {
    width: 50%;
}

#select-categoria-imovel {
    width: 45%;
}

header .main-header .container-filters .tipo input {
    border-radius: 10px;
    border: none;
    background-color: #EDEDED;
    height: 45px;
    font-size: 15px;
    outline: none;
    padding-left: 15px;
}

#input-cidade {
    width: 370px;
}

header .main-header .container-filters .botao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buscarBtn {
    width: 150px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    gap: 8px;
    background-color: #207FEE;
    font-size: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#buscarBtn:hover {
    background-color: #1557a2;
}

#limparFiltrosBtn {
    width: 120px;
    border-radius: 10px;
    border: none;
    height: 45px;
    background-color: #000000;
    font-size: 13px;
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-weight: 500;
}

#limparFiltrosBtn:hover {
    background-color: #000000;
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.133);
}




@media screen and (max-width: 1470px) {
    header .top-header {
        padding: 10px 7rem 10px 7rem;
    }

    header .main-header {
        padding: 0px 7rem 0px 7rem;
    }

    header .main-header .container-filters {
        padding: 30px;
        width: 38rem;
        gap: 15px;
    }
}

@media screen and (max-width: 1250px) {
    header .top-header {
        padding: 10px 4rem 10px 4rem;
    }

    header .main-header {
        padding: 0px 4rem 0px 4rem;
    }

    header .main-header .texts {
        width: 35%;
    }

    header .main-header .texts h1 {
        font-size: 1.5rem;
    }

    header .main-header .texts h1 span {
        font-size: 1.5rem;
    }

    header .main-header .texts span {
        font-size: .9rem;
    }

    header .main-header .container-filters {
        padding: 20px;
        width: 55%;
        gap: 12px;
    }

    header .main-header .container-filters .tipo select {
        height: 40px;
        font-size: 12px;
        padding-left: 3px;
    }

    header .main-header .container-filters .tipo input {
        height: 40px;
        font-size: 12px;
        padding-left: 10px;
    }

    #input-cidade {
        width: 65%;
    }

    #buscarBtn {
        height: 40px;
        font-size: 12px;
        width: 30%;
    }

    #limparFiltrosBtn {
        height: 40px;
        font-size: 12px;
    }
}

@media screen and (max-width: 870px) {
    header {
        height: 23rem;
    }

    header .top-header .logo {
        font-size: 16px;
    }

    header .top-header nav .contact {
        padding: 5px;
        width: 120px;
        height: 30px;
    }

    header .main-header .texts h1 {
        font-size: 1.3rem;
    }

    header .main-header .texts h1 span {
        font-size: 1.3rem;
    }

    header .main-header .texts span {
        font-size: .8rem;
    }

    header .main-header .container-filters {
        width: 55%;
        gap: 12px;
        height: 12rem;
    }
}

@media screen and (max-width: 785px) {
    header .main-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 0rem 0px 0rem;
        margin-top: 3.5rem;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    header .top-header .logo {
        font-size: 14px;
    }

    header .top-header nav .contact {
        padding: 3px;
        width: 110px;
        font-size: 12px;
        height: 25px;
    }

    header .main-header .texts {
        width: 70%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }

    header .main-header .texts h1 {
        font-size: 1.2rem;
    }

    header .main-header .texts h1 span {
        font-size: 1.2rem;
    }

    header .main-header .texts span {
        font-size: .9rem;
    }

    header .main-header .container-filters {
        width: 70%;
        gap: 10px;
        height: 10rem;
    }

    header .main-header .container-filters .tipo select {
        height: 35px;
    }

    header .main-header .container-filters .tipo input {
        height: 35px;
    }

    #buscarBtn {
        height: 35px;
    }

    #limparFiltrosBtn {
        height: 35px;
    }
}

@media screen and (max-width: 530px) {
    header .main-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 0rem 0px 0rem;
        margin-top: 3.5rem;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    header .main-header .texts {
        width: 70%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }

    header .main-header .texts h1 {
        font-size: 1rem;
    }

    header .main-header .texts h1 span {
        font-size: 1rem;
    }

    header .main-header .texts span {
        font-size: .8rem;
    }

    header .main-header .container-filters {
        width: 70%;
        gap: 10px;
        height: 10rem;
        align-items: center;
        padding-top: 30px;
        background-color: transparent;
    }

    header .main-header .container-filters .tipo {
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }

    header .main-header .container-filters .tipo select {
        height: 30px;
    }

    #select-tipo-imovel {
        width: 100%;
    }
    
    #select-categoria-imovel {
        width: 100%;
    }

    header .main-header .container-filters .tipo input {
        height: 30px;
    }

    #buscarBtn {
        height: 30px;
    }

    #limparFiltrosBtn {
        height: 30px;
    }

    header .main-header .container-filters .botao {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 475px) {
    header .top-header {
        padding: 10px 2rem 10px 2rem;
    }

    header .top-header .logo {
        font-size: .7rem
    }
    
    header .top-header nav .contact {
        padding: 3px 3px 3px 3px;
        font-size: 12px;
        width: 90px;
        height: 25px;
    }

    header .top-header nav .contact:hover {
        font-size: 12px;
    }

    header .main-header {
        padding: 0px 2rem 0px 2rem;
    }

    header .main-header .texts {
        width: 100%;
    }

    header .main-header .container-filters {
        width: 100%;
        height: 10rem;
        padding-top: 20px;
        padding: 0px;
    }

}