#app {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 60px;
    justify-content: center;
    position: absolute;
    top: 28rem;
    left: 0;
    padding: 4rem 8rem 4rem 8rem;
    width: 100%;
}

.casa-box {
    border-radius: 20px;
    width: 100%;
    max-width: 260px;
    height: 340px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 10px 4px 30px rgba(60, 62, 77, 0.234);
}

.casa-box:hover {
    transform: scale(1.03);
}

.box-image {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

.box-image img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    object-position: 25% 25%;
}

.box-informations {
    width: 100%;
    padding: 5px 0px 5px 20px;
    display: flex;
    flex-direction: column;
}

.box-informations .tipo-casa {
    color: #207FEE;
    font-size: .8rem;
    font-weight: 700;
    margin-top: .3rem;
}

.box-informations h2 {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: .5rem;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
}

.box-informations .preco {
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: .3rem;
    color: #276915;
}

.box-informations .endereco {
    font-weight: 500;
    font-size: .9rem;
    margin-top: .5rem;
    color: #000000c4;
}

.box-informations div {
    font-weight: 600;
    display: flex;
    gap: 1rem;
    font-size: .9rem;
    margin-top: .4rem;
}

.box-informations div i {
    color: #207FEE;
}




@media screen and (max-width: 1470px) {
    #app {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        padding: 4rem 7rem 4rem 7rem;
    }

    .casa-box {
        max-width: 240px;
        height: 340px;
    }
}

@media screen and (max-width: 1325px) {
    #app {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .casa-box {
        max-width: 250px;
    }
}

@media screen and (max-width: 1250px) {
    #app {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 4rem 5rem 4rem 5rem;
    } 

    .box-image {
        height: 58%;
    }
}

@media screen and (max-width: 880px) {
    #app {
        top: 25rem;
        padding-top: 5rem;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    } 

    .casa-box {
        max-width: 100%;
    }
}

@media screen and (max-width: 870px) {
    #app {
        top: 22rem;
    } 
}

@media screen and (max-width: 785px) {
    #app {
        padding: 4rem 4rem 4rem 4rem;
    } 
}

@media screen and (max-width: 475px) {
    #app {
        padding: 4rem 2rem 4rem 2rem;
    } 
}